* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bitcoin {
  transform: rotate(10deg);
  position: relative;
  z-index: 1;
}

.back_circle {
  background-color: #f7931a;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: -100%;
  z-index: -1;
}

.outer_triangle {
  background-color: #fff;
  border-radius: 0 100px 100px 0;
  position: relative;
  left: 50%;
  transform: translateX(-20%);
}

.triangle_top {
  width: 120px;
  height: 90px;
}

.triangle_bottom {
  width: 130px;
  height: 110px;
  position: relative;
  top: -5px;
}

.inner_triangle {
  background-color: #f7931a;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inner_triangle_top {
  height: 55px;
  width: 80px;
}

.inner_triangle_bottom {
  height: 65px;
  width: 90px;
}

.column {
  width: 70px;
  height: 195px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -28px;
}

.inner_column {
  position: absolute;
  width: 35px;
  height: 150px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  background-color: #f7931a;
  border-radius: 0 12px 12px 0;
}

.ramus {
  position: relative;
  top: -200px;
}

.ramus:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 47px;
  top: -33px;
  background-color: transparent;
  z-index: 1;
  left: 25px;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
}

.ramus:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 47px;
  bottom: -225px;
  background-color: transparent;
  z-index: 1;
  left: 25px;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
}
